.landing-wrapper {
  @include article(1);
}

.landing {
  margin: 4vh auto 0 3vw;
  width: 80%;

  h2 {
    margin-top: 1rem;
  }
}

.about {
  margin-top: $margin-top;
}

.projects-links {
  margin-top: $margin-top;

  figure > * {
    display: inline-block;
  }

  img {
    vertical-align: middle;
  }

  li:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }

  figcaption {
    margin-left: 1.3rem;
  }
}

.writing {
  margin-top: $margin-top;
}

.connect {
  margin-top: $margin-top;
  margin-bottom: 10rem;
}
