$font-color-primary: #333;
$font-color-secondary: #555;

$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$margin-top: 4rem;
$max-width: 90rem;
